{
  "presets": [
    [
      "@0y0/vanilla",
      {
        "moduleAlias": {
          "@lib": "./src",
          "@constraint": "./src/constraint",
          "@util": "./src/util"
        }
      }
    ]
  ]
}
